.paragraph--type--title-and-text {
  padding: 60px 0;
  position: relative;
  @media (width >= 1024px) {
    padding: 5.6vw 0 9.7vw;
  }

  .tt-container {
    @media (width >= 1024px) {
      display: flex;
      gap: 2vw;
    }
  }

  .tt-column-one {
    @media (width >= 1024px) {
      width: calc(50% - 14px);
    }
  }

  .tt-column-two {
    @media (width >= 1024px) {
      width: calc(50% - 14px);
    }
  }

  .tag-and-title-wrapper {
    @media (width < 1024px) {
      max-width: 600px;
    }
    @media (width >= 1024px) {
      margin-left: 16.2vw;
      max-width: 26.4vw;
    }
  }

  .tt-tag {
  }

  .tt-title {
    @media (width >= 1024px) {
      margin: 0;
    }
  }

  .text-wrapper {
    @media (width < 1024px) {
      max-width: 600px;
    }
    @media (width >= 1024px) {
      max-width: 38.9vw;
    }

    ul {
      margin: 0;
      padding: 0 0 0 1em;
      @media (width >= 1024px) {
        padding: 0 0 0 0.9em;
      }
    }
  }
}
